@charset "UTF-8";
/*! Writen  by SCSS */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap");
#datepicker {
  font-size: 13px;
  background: #23282d;
  padding: 10px 7px 3px;
}
#datepicker .ui-datepicker-inline {
  width: 100%;
  padding: 0;
}
#datepicker .ui-widget.ui-widget-content {
  border: none;
  background: none;
}
#datepicker .ui-datepicker .ui-datepicker-header {
  color: #fff;
  background: none;
  border: none;
  width: 87%;
  margin: 0 auto;
}
#datepicker .ui-datepicker th {
  color: #fff;
}
#datepicker .ui-state-default {
  color: #fff;
  background: none;
  border: none;
  /*color: #fff;
  	background: #c5c5c5;*/
  color: #fff;
  background: #374350;
  text-align: center;
  transition: opacity 0.6s ease-in-out;
  /*&.ui-state-active{
      background: #000;

  }*/
}
body:not(.mobile) #datepicker .ui-state-default:hover {
  opacity: 0.6;
}
#datepicker .ui-datepicker-today {
  opacity: 1;
}
#datepicker .ui-datepicker-today a,
#datepicker .ui-datepicker-today span {
  color: #fff;
  background: #000;
}
#datepicker .ui-widget-header .ui-icon {
  background: none;
}
#datepicker .ui-datepicker .ui-datepicker-next {
  background: none;
  border: none;
  cursor: pointer;
  right: -22px;
}
#datepicker .ui-datepicker .ui-datepicker-next::after {
  content: "" !important;
  font-weight: bold;
  color: #fff;
  font-family: "Font Awesome 5 Free" !important;
}
#datepicker .ui-datepicker .ui-datepicker-next:hover {
  opacity: 0.6;
}
#datepicker .ui-datepicker .ui-datepicker-prev {
  background: none;
  border: none;
  cursor: pointer;
}
#datepicker .ui-datepicker .ui-datepicker-prev::after {
  content: "" !important;
  font-weight: bold;
  color: #fff;
  font-family: "Font Awesome 5 Free" !important;
}
#datepicker .ui-datepicker .ui-datepicker-prev:hover {
  opacity: 0.6;
}

#date_val {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
}

.js_date_btn {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}