@charset "utf-8";
/*! Writen  by SCSS */
@import "mixin";

#form{
	
	table{
		width: 100%;
		
		th{
			text-align: left;
			font-weight: normal;
			margin-right: 15px;
			 width: 195px;
		}
		
		th,
		td{
			font-size: 14px;
			padding-bottom: 10px;
		}
		input{
			width: 100%;
			padding: 6px 8px;
			line-height: 1.2;
			font-size: 14px;
		}
		textarea{
			width: 100%;
			padding:6px 8px;
			font-size: 14px;
		}
		.area{
			vertical-align: top;
			th{
				margin-top: 4px;
			}
			th,td{
				padding-bottom: 0;
			}
		}
	}
	button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
	.submit{
		text-align: center;
		>span{
			position: relative;
			display: inline-block;
			overflow: hidden;
			border-radius: 3px;
			border: 1px solid #000;
			background: #fff;
			&::before{
				content: "";
				display: block;
				position: absolute;
				top: -100%;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 1;
				pointer-events: none;
				transition: top 0.3s ease-in-out;
			}
			#{$pc} &:hover::before{
				top: 0;
			}
			#{$pc} &:hover input[type="submit"]{
				color: #fff;
			}
		}
		 input[type="submit"]{
			color: #000;
			
			position: relative;
			z-index: 8;
			
			font-size: 13px;
			text-align: center;
			cursor: pointer;
			padding: 10px 15px;
			 transition: color 0.3s ease-in-out;
		}
	}
}
@media screen and (max-width:600px){
	#form table th, #form  table td{
		display: block;
		width: 100%;
		padding-bottom: 0;
		font-size: 13px;
	}
	#form table .form_tr{
		display: block;
	}
	#form  table th{
		padding-bottom: 0;
		margin-bottom: 5px;
	}
	#form  table td{
		margin-bottom: 10px;
	}
	#form  .submit input[type="submit"]{
		font-size: 12px;
	}
	#form  table input, #form table textarea{
		font-size: 13px;
	}
}