@charset "utf-8";
/*! Writen  by SCSS */
@import "mixin";

#main_on_img{
	margin-bottom: 40px;
	img{
		width: 100%;
		object-fit: cover;
		font-family: "object-fit: cover;";
	}
}
#main{
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	.main_slider{
		margin-bottom: 0;
		img{
			width: 100%;
			object-fit: cover;
			font-family: "object-fit: cover;";
		}
	}
	.slick-dots{
		bottom: 12px;
		z-index: 99;
		li{
			margin: 0;
		}
	}
	#arrows{
		.slick-next{
			right: 10px;
			&::before{
				content: none;
			}
		}
		.slick-prev{
			left: 10px;
			&::before{
				content: none;
			}
		}
		.slick-arrow,.slick-next{
			z-index: 99;
		}
	}
	.circle_wrap{
		position: relative;
		max-width: 380px;
		left: 50%;
		transform: translateX(-50%);
		.circle_bg{
		width: 100%;
		padding-top: 100%;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		z-index: 99;
		bottom: -315px;
		
	}
	}
}
@media screen and (max-width:960px){
	#main .circle_wrap{
		max-width: 350px;
	}
	#main .circle_wrap .circle_bg{
		bottom: -300px;
	}
	#main_on_img{
		margin-bottom: 20px;
	}
}
@media screen and (max-width:340px){
	#main .slick-dots{
		bottom: -5px;
	}
}