/*! Writen  by SCSS */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap");
.news .table_news {
  font-size: 14px;
  margin: 0 auto;
  position: relative;
}
.news .table_news.scroll_bar_on {
  height: 110px;
  overflow-y: scroll;
}
.news .table_news table {
  margin: 0 auto;
}
.news .table_news th {
  font-weight: normal;
  text-align: left;
  padding-right: 15px;
  vertical-align: top;
  line-height: 1.4;
  padding-bottom: 10px;
}
.news .table_news td {
  line-height: 1.4;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .news .table_news th {
    display: block;
    width: 100%;
    padding-right: 0;
    border-bottom: 1px #ccc solid;
    padding-bottom: 4px;
    margin-bottom: 6px;
  }

  .news .table_news td {
    display: block;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}